
%link {
    display: inline-block;
    text-decoration: none;
    margin: 0;

}

%list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

%button {
    font-family: $text-font;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 228px;
    height: 57px;
    line-height: 57px;
    outline: none;
    border: none;
    cursor: pointer;
}

%container {
    max-width: 1250px;
    margin: 0 auto;
}
