
%link {
    display: inline-block;
    text-decoration: none;
    margin: 0;

}

%list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

%button {
    font-family: $text-font;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 228px;
    height: 57px;
    line-height: 57px;
    outline: none;
    border: none;
    cursor: pointer;
}

%container {
    max-width: 1250px;
    margin: 0 auto;

    @media (max-width: 1199px) {
        max-width: 1000px;
    }

    @media (max-width: 991px) {
        max-width: 800px;
    }

    @media (max-width: 740px) {
        max-width: 650px;
    }

    @media (max-width: 479px) {
        max-width: 450px;
    }
}

%wrapper {
    background: url('../images/pattern.png') no-repeat center;
    background-size: cover;
}
