.contacts {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    padding: 100px 0;
}

.images {
    display: flex;
    flex-basis: 570px;
    justify-content: space-between;

    &img {
        width: 270px;
        height: auto;
        display: block;
    }
}

.booking {
    flex-basis: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.booking-title {
    font-family: $title-font;
    font-size: 36px;
    color: $main-theme-color;
    margin-bottom: 70px;
    position: relative;


    &::after {
        content:'';
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translate(-50%, 10%);
        display: block;
        width: 247px;
        height: 30px;
        background: url('../images/divider-g@1X.png') center no-repeat;
        background-size: contain;

    }

}
