
.ingredients {
    &__section {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-flow: column wrap;
        text-align: center;
        align-self: center;
        color: white;
        height: 570px;
        width: 560px;
        background: radial-gradient(ellipse at center, rgba(0,0,0,0.40) 4%, rgba(0,0,0,0.79) 85%,
         rgba(0,0,0,0.81) 86%, rgba(0,0,0,0.84) 92%);
        margin-right: 8%;
        }
    &__wrapper {
        display: flex;
        background: url(../images/bg-2.jpg) no-repeat;
        background-size: cover;
        height: 758px;
        justify-content: flex-end;
        align-content: center;
            &--images {
                display: flex;
                justify-content: center;
                
        }
    }
    &__title{
        font-size: 36px;
        font-family: $text-font;
        &::after {
            content: '';
            background: url(../images/divider.png) no-repeat center;
            display:block;
            margin: 0 auto;
            width: 236px;
            height: 66px; 
        }
    }
    
    &__paragraph {
        width: 430px;
        font-size: 16px;
        font-family: $text-font;
        margin-bottom: 70px;
       } 
    &__images {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        &:not(:last-of-type) {
            margin-right: 50px;
        }   
    }
}
