@media (max-width: 1199px) {
  .navigation {
    margin-bottom: 150px;

    &__item:nth-of-type(n) {
      margin-right: 15px;
      margin-bottom: 5px;
    }
  }
  .right-food__main-img {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 991px) {
  .site-navigation__menu--hiden {
    display: block;
  }
  .top-container {
    margin-bottom: 150px;
    justify-content: space-around;
  }
  .navigation {
    display: none;

    &__list {
      flex-direction: column;
      align-items: center;
      font-size: 30px;
    }
    &__item:nth-of-type(n) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  .ingredients {
    &__wrapper {
      height: 550px;
    }
    &__section {
      max-width: 400px;
      height: 420px;
      margin: auto;
      justify-content: center;
    }
    &__paragraph {
      margin-bottom: 40px;
      max-width: 330px;
    }
    &__images {
        
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }

  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__content {
      margin-bottom: 40px;
    }
  }
  .main-title {
    font-size: 50px;
    color: white;
    max-width: 450px;
    text-align: center;
  }
  .right-food {
    justify-content: center;

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    &__main-img {
      width: 200px;
      height: 200px;
    }
  }
  .chief {
    padding-top: 0px;
    max-height: 520px;
    margin-right: 0px;
    &__img {
        margin-left: 30%;
    }
    &__paragraph {
      max-width: 330px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 600px) {
  .button__item:nth-of-type(1) {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .top-container {
    margin-bottom: 100px;
    align-content: center;
    justify-content: space-around;
  }
  .top-wrapper {
    max-width: 340px;
  }
  .header__section {
      display: flex;
      justify-content: center;
  }
  .main-title {
    max-width: 330px;
    font-size: 40px;
    color: white;
    text-align: center;
  }
  .button__list {
    flex-direction: column;
    
  }

  .ingredients {
    
    &__wrapper {
      height: 550px;
    }
    &__section {
      display: flex;
      max-width: 355px;
      height: 420px;
      
      justify-content: center;
    }
    &__paragraph {
      margin-bottom: 40px;
      max-width: 300px;
    }
    &__images {
        height: 70px;
        width: 70px;
      &:not(:last-of-type) {
        margin-right: 5px;
        
      }
    }
  }

  .chief {
    
    min-height: 450px;
    &__paragraph {
      max-width: 300px;
      font-size: 14px;
    }
  }
}
@media (max-width:500px) {
  header {
    height: 570px;
    &__section {
    padding: 20px;
    }
  }
  .top-container {
    margin-bottom: 30px;
  }
  .right-food {
    height: 625px;
    align-items: flex-start;
}
  .chief {
    padding: 20px 20px 10px;
    &__title {
      font-size: 24px;
    }
    &__img {
      width: 170px;
      margin-left: 30%;
  }
  }
  .ingredients {
    
    &__wrapper {
    display: flex;
    justify-content: center;
    height: 500px;
    
    }
    &__title {
      font-size: 24px;
    }
    &__section {
      padding: 20px;
      max-width: 355px;
      height: 450px;
      margin: 0 20px;
      justify-content: center;
    }
  }
  .right-food__main-img {
    width: 140px;
    height: 140px;
  }
 .footer{
  &__wrapper {
   margin: 0 20px;
    }
    &__title::after,
    &__info--payment::after {
      
    height: 50px;
  }
  &__info {
    font-size: 14px;
  }
  .sotial__list {
    padding-top: 20px;
    }
  }
  
}
